build/
dist/
*.egg-info
*.pyc
*.db
pocs/
metadatastore/
.roadtools_auth
Pipfile
__pycache__
*.json
*.pem
*.key
*.pfx
*.prt
*.kdbx
geckodriver
*.log
.env
# Include roadtx data file
!roadtx/roadtools/roadtx/*.json
