<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"><a class="mat-accent" [routerLink]="['/users/', row.id]">{{row.displayName}}</a></td>
    </ng-container>

    <ng-container matColumnDef="userPrincipalName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UserPrincipalName</th>
      <td mat-cell *matCellDef="let row">{{row.userPrincipalName}}</td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.mail}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
      <td mat-cell *matCellDef="let row"><mat-icon *ngIf="row.mail != null" aria-hidden="false" aria-label="mail">Mail</mat-icon></td>
    </ng-container> -->

    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
      <td mat-cell *matCellDef="let row">{{row.jobTitle}}</td>
    </ng-container>


    <ng-container matColumnDef="onPremisesSyncEnabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account source</th>
      <td mat-cell *matCellDef="let row">{{ row.onPremisesSyncEnabled? 'AD':'Cloud' }}</td>
    </ng-container>

    <ng-container matColumnDef="businessPhones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Phone</th>
      <td mat-cell *matCellDef="let row">{{row.businessPhones}}</td>
    </ng-container>

    <!-- TO DO: Fix MFA -->
    <ng-container matColumnDef="strongAuthenticationDetail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MFA</th>
      <td mat-cell *matCellDef="let row">
        <span *ngFor="let method of row.strongAuthenticationDetail.methods">
          <mat-icon *ngIf="method.methodType == 'PhoneAppOTP'" aria-label="App with OTP" [class.active]="method.isDefault" matTooltip="App with OTP" >phonelink_lock</mat-icon>
          <mat-icon *ngIf="method.methodType == 'PhoneAppNotification'" aria-label="Phone notification" [class.active]="method.isDefault" matTooltip="App with notification" >notifications_active</mat-icon>
          <mat-icon *ngIf="method.methodType == 'OneWaySms'" aria-label="Text message (SMS)" [class.active]="method.isDefault" matTooltip="Text message (SMS)" >sms</mat-icon>
          <mat-icon *ngIf="method.methodType == 'TwoWayVoiceMobile'" aria-label="Phone call" [class.active]="method.isDefault" matTooltip="Phone call" >phone_callback</mat-icon>
        </span>
        <span *ngFor="let sdk of row.searchableDeviceKey">
          <mat-icon *ngIf="sdk.usage == 'NGC'" aria-label="Windows Hello" matTooltip="Windows Hello for Business" >passkey</mat-icon>
          <mat-icon *ngIf="sdk.usage == 'FIDO'" aria-label="FIDO2 key / passkey" matTooltip="FIDO 2 key or passkey" >passkey</mat-icon>
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[50, 100, 500, 1000, 5000]"></mat-paginator>
</div>
<router-outlet></router-outlet>
